.Bodymovin {
  position: relative;
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.Bodymovin svg {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.Bodymovin--hasSafeArea svg {
  min-width: 300%;
  min-height: 300%;
  left: -100%;
  top: -100%;
}
